/* ---------------------------------------------------------------------------------
   file-start: lenta/lenta_v3/lenta-light.css 
*/

/* Light Version
----------------------------------*/
.p-lenta.p-lenta-light .b-lenta-body {
	min-width: inherit;
	padding: 13px 13px 26px;
	}
.p-lenta.p-lenta-light .b-lenta-footer {
	padding: 0 13px 42px;
	}

.p-lenta.p-lenta-light .b-lenta-headergroup {
	position: relative;
	width: auto;
	min-width: inherit;
	padding: 0 25px;
	}
.p-lenta.p-lenta-light .b-lenta-item:after {
	display: none;
	}
.p-lenta.p-lenta-light .b-lenta-item {
	margin: 0 0 16px;
	}

.p-lenta.p-lenta-light .b-lenta-item-nav {
	padding: 0;
	background: #F9F9EF;
	}
.p-lenta.p-lenta-light .b-lenta-item-metainfo {
	position: relative;
	margin: 9px 18px 8px;
	}
.p-lenta.p-lenta-light .b-lenta-item-nav-wrap {
	padding: 7px 20px;
	border-radius: 0 0 3px 3px;
	background: #E6E6D8;
	}
.p-lenta.p-lenta-light .b-lenta-item-nav:before {
	position: absolute;
	top: -4px;
	left: 50%;
	display: block;
	width: 45px;
	height: 5px;
	margin: 0 0 0 -22px;
	background: url(/img/friendsfeed/friendsfeed-item-nav.png?v=24800) no-repeat;
	content: '';
	}
.p-lenta.p-lenta-light .b-lenta-item-nav:after {
	display: none;
	}

	.p-lenta.p-lenta-light .b-lenta-item-nav A {
		display: inline;
		height: auto;
		padding: 0;
		border-radius: 0;
		line-height: 1;
		}

	.p-lenta.p-lenta-light .b-lenta-item-nav A:link,
	.p-lenta.p-lenta-light .b-lenta-item-nav A:visited {
		border: none !important;
		background: transparent;
		text-decoration: underline !important;
		color: #36629F !important;
		}
	.p-lenta.p-lenta-light .b-lenta-item-nav A:hover,
	.p-lenta.p-lenta-light .b-lenta-item-nav A:active {
		border: none !important;
		background: transparent;
		text-decoration: none !important;
		color: #36629F !important;
		}

	.p-lenta.p-lenta-light .b-lenta-item-nav-aside A {
		float: left;
		margin: 0 17px 0 0;
		padding: 3px 0 2px;
		}

	.p-lenta.p-lenta-light .b-lenta-item-nav-share A {
		float: left;
		margin: 0 0 0 17px;
		padding: 3px 0 2px;
		}

/* Metainfo */
.p-lenta.p-lenta-light .b-lenta-metaitem {
	display: inline;
	}
.p-lenta.p-lenta-light .b-lenta-metaitem DL {
	display: inline;
	}
.p-lenta.p-lenta-light .b-lenta-metaitem DD {
	display: none;
	}

.p-lenta.p-lenta-light .b-lenta-metaitem DT A:link,
.p-lenta.p-lenta-light .b-lenta-metaitem DT A:visited,
.p-lenta.p-lenta-light .b-lenta-metaitem DT A:hover,
.p-lenta.p-lenta-light .b-lenta-metaitem DT A:active {
	color: #999 !important;
	}

/* Toggle Meta info */
.p-lenta.p-lenta-light .b-lenta-item-metainfo SPAN {
	border-bottom: 1px dotted #36629F;
	cursor: pointer;
	color: #36629F;
	}
	.p-lenta.p-lenta-light .b-lenta-item-metainfo DT:after {
		display: inline-block;
		content: '\002C\0020';
		}
	.p-lenta.p-lenta-light .b-lenta-item-tags:last-child DT:after {
		display: none;
		}


	.p-lenta.p-lenta-light .b-lenta-metatoggle {
		position: relative;
		display: none;
		margin: 9px 18px 8px;
		}
		.p-lenta.p-lenta-light .b-lenta-metatoggle SPAN {
			border-bottom: 1px dotted #36629F;
			cursor: pointer;
			color: #36629F;
			}


.p-lenta.p-lenta-light .b-lenta-metatoggle:before {
	position: absolute;
	top: 3px;
	left: -14px;
	display: block;
	width: 11px;
	height: 7px;
	content: ' ';
	background: url(/img/lenta/lenta-meta-toggle.png?v=28815) no-repeat -12px 0;
	}
.p-lenta.p-lenta-light .b-lenta-item-metainfo:before {
	position: absolute;
	top: 5px;
	left: -14px;
	display: block;
	width: 11px;
	height: 7px;
	content: ' ';
	background: url(/img/lenta/lenta-meta-toggle.png?v=28815) no-repeat 0 0;
	}


.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-metatoggle {
	display: block;
	}
.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-item-metainfo:before {
	background: none;
	}

.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-item-metainfo SPAN {
	border: none;
	cursor: auto;
	color: #999;
	}
.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-metaitem,
.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-metaitem DL {
	display: block;
	}
.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-metaitem DD {
	display: inline;
	}
.p-lenta.p-lenta-light .b-lenta-meta-open .b-lenta-metaitem DT:after {
	display: inline-block;
	content: '\003A';
	}


/* Light Sidebar */
.p-lenta.p-lenta-light .b-lenta-sidebar {
	display: none;
	}
.p-lenta.p-lenta-light .b-lenta-sidebar-static {
	position: absolute;
	top: 8px;
	right: 78px;
	width: auto;
	}
.p-lenta.p-lenta-light .b-lenta-sidebar-section {
	position: relative;
	float: left;
	clear: none;
	width: auto;
	height: auto;
	}
.p-lenta.p-lenta-light .b-lenta-widget {
	display: inline;
	float: none;
	width: auto;
	}
.p-lenta.p-lenta-light .b-lenta-sidebar-section:before,
.p-lenta.p-lenta-light .b-lenta-sidebar-section:after {
	display: none;
	}
.p-lenta.p-lenta-light .b-lenta-widget-header {
	overflow: hidden;
	width: auto;
	height: auto;
	height: 35px;
	padding: 4px 4px 0;
	text-shadow: none;
	font-weight: normal;
	}
.p-lenta.p-lenta-light .b-lenta-widget-header-wrap {
	height: 34px;
	margin: 0;
	padding: 0 11px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-radius: 5px 5px 0 0;
	line-height: 34px;
	}

	.p-lenta.p-lenta-light .b-lenta-widget-header-wrap {
		border-color: transparent;
		background-color: transparent;
		background-image: none;
		box-shadow: none;
		}

	.p-lenta.p-lenta-light .b-lenta-widget-open .b-lenta-widget-header-wrap {
		position: relative;
		z-index: 2;
		display: block;
		border-color: #FFF;
		background-color: #CCD2D6;
		background-image: -webkit-linear-gradient(top, #E3E9EE 0%, #CCD2D6 100%);
		background-image:    -moz-linear-gradient(top, #E3E9EE 0%, #CCD2D6 100%);
		background-image:      -o-linear-gradient(top, #E3E9EE 0%, #CCD2D6 100%);
		background-image:         linear-gradient(to bottom, #E3E9EE 0%, #CCD2D6 100%);
		box-shadow: -1px 1px 3px rgba(0, 0, 0, .5);
		}

		.p-lenta.p-lenta-light .b-lenta-customize .b-lenta-widget-header-wrap:link,
		.p-lenta.p-lenta-light .b-lenta-customize .b-lenta-widget-header-wrap:visited,
		.p-lenta.p-lenta-light .b-lenta-customize .b-lenta-widget-header-wrap:hover,
		.p-lenta.p-lenta-light .b-lenta-customize .b-lenta-widget-header-wrap:active,
		.p-lenta.p-lenta-light .b-lenta-customize .b-lenta-widget-header-wrap:focus,
		.p-lenta.p-lenta-light .b-lenta-archive .b-lenta-widget-header-wrap:link,
		.p-lenta.p-lenta-light .b-lenta-archive .b-lenta-widget-header-wrap:visited,
		.p-lenta.p-lenta-light .b-lenta-archive .b-lenta-widget-header-wrap:hover,
		.p-lenta.p-lenta-light .b-lenta-archive .b-lenta-widget-header-wrap:active,
		.p-lenta.p-lenta-light .b-lenta-archive .b-lenta-widget-header-wrap:focus {
			outline: none;
			border-color: transparent !important;
			background-color: transparent;
			background-image: none;
			box-shadow: none;
			text-decoration: none;
			color: #36629f !important;
			}

.p-lenta.p-lenta-light .b-lenta-widget-icon {
	display: none;
	}
.p-lenta.p-lenta-light .b-lenta-widget-title {
	display: inline;
	width: auto;
	}

	.p-lenta.p-lenta-light .b-lenta-widget-title {
		border-bottom: 1px dotted;
		color: #36629f !important;
		}

	.p-lenta.p-lenta-light .b-lenta-widget-open .b-lenta-widget-title {
		border-bottom: 1px dotted transparent;
		color: #222 !important;
		}
		.p-lenta.p-lenta-light .b-lenta-widget-open.b-lenta-customize .b-lenta-widget-title,
		.p-lenta.p-lenta-light .b-lenta-widget-open.b-lenta-archive .b-lenta-widget-title {
			color: #36629f !important;
			}

.p-lenta.p-lenta-light .b-lenta-widget-body {
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 1;
	padding: 4px;
	}

.p-lenta.p-lenta-light .b-lenta-widget-content {
	width: auto;
	border: 1px solid #FFF;
	border-radius: 5px 0 5px 5px;
	background-color: #CCD2D6;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, .5);
	}

.p-lenta.p-lenta-light .b-lenta-filters .b-lenta-widget-content {
	padding: 8px 0 0;
	}
.p-lenta.p-lenta-light .b-lenta-filters-wrap {
	display: block;
	}
.p-lenta.p-lenta-light .b-lenta-filters-inner {
	display: block;
	}
.p-lenta.p-lenta-light .b-lenta-filters-list {
	display: block;
	padding: 0;
	border: none;
	}
.p-lenta.p-lenta-light .b-lenta-filters-settings {
	display: block;
	margin: 2px 0 0;
	padding: 0;
	border: none;
	border-top: 1px solid #B5C0C9;
	border-radius: 0 0 5px 5px;
	background: transparent;
	}
	.p-lenta.p-lenta-light .b-lenta-filters-settings A {
		position: relative;
		padding: 0 6px 0 32px;
		border-radius: 0 0 4px 4px;
		font: 12px/36px Arial, Helvetica, sans-serif;
		}
	.p-lenta.p-lenta-light .b-lenta-filters-settings .b-lenta-filters-icon {
		position: absolute;
		top: 11px;
		left: 11px;
		width: 16px;
		height: 16px;
		background-image: url(/img/lenta/lenta-widgets-iconset.png?v=28542);
		background-position: -30px -55px;
		background-repeat: no-repeat;
		}

/* Pager-Loader */
.p-lenta.p-lenta-light .b-lenta-loader {
	display: none;
	}
.p-lenta.p-lenta-light .b-pager {
	margin: 0 auto;
	}

@media screen and (max-width: 768px) {
	.g-sensor .b-lenta-wrap .b-pager,
	.mobile-msg .b-lenta-wrap .b-pager {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		}
		.mobile-msg .b-pager-prev BR,
		.g-sensor .b-pager-prev BR,
		.mobile-msg .b-pager-next BR,
		.g-sensor .b-pager-next BR,
		.mobile-msg .b-pager-shortcut,
		.g-sensor .b-pager-shortcut {
			display: none;
			}
}


/* file-end: lenta/lenta_v3/lenta-light.css 
----------------------------------------------------------------------------------*/
