/* ---------------------------------------------------------------------------------
   file-start: lenta/lenta_v3/lenta-filters.css 
*/

.b-lenta-widget-filter {
	top: 0;
	}

.b-lenta-widget-button-filter:before {
	width: 25px;
	height: 24px;
	margin: -12px 0 0 -13px;
	background: url(/img/icons/unit_v3.png?v=40336) no-repeat  0 -255px;
	}

.b-lenta-filters-list A {
	font: 13px/1.1 "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
	font: 0.8125rem/1.1 "ProximaNovaSemibold",Tahoma,Arial,sans-serif;
	text-transform: uppercase;
	}
.b-lenta-filter-active .b-lenta-widget-item-link {
	color: #829399;
	}
.b-lenta-filters-list SPAN {
	display: block;
	overflow: hidden;
	width: 176px;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.b-lenta-filters-settings {
	display: none;
	}

@media (max-width: 650px ){
		
}	


/* file-end: lenta/lenta_v3/lenta-filters.css 
----------------------------------------------------------------------------------*/
